  <header class="bg-gray-200 p-4">
    <div class="bg-gray-100 rtl flex items-center justify-center">
      <div class="grid grid-cols-12 gap-4">
        <div class="bg-white p-4 rounded-lg shadow-md text-center" *ngFor=" let alphabet of allAlphabets">
          {{getCharacter(alphabet)}}
        </div>
        <!-- Add similar divs for the rest of the alphabet -->
      </div>
    </div>
    <div class="flex justify-center items-center">
      <label class="p-2">
        <input type="radio" name="color" value="1" [(ngModel)]="selectedOption" (change)="onColorChange()" checked="true"> Non-Nuqta 
      </label>
      <label class="p-2">
        <input type="radio" name="color" value="2" [(ngModel)]="selectedOption" (change)="onColorChange()"> Sun Letter
      </label>
      <label class="p-2">
        <input type="radio" name="color" value="3" [(ngModel)]="selectedOption" (change)="onColorChange()"> Moon Letter
      </label>
    </div>

  </header>
 <body>
  <div class="flex">
    <div class="w-1/6 bg-yellow-200 size-restrict">
      <div class="max-w-2xl mx-auto">

        <aside class="w-64" aria-label="Sidebar">
          <div class="px-3 py-4 overflow-y-auto rounded bg-gray-50 dark:bg-gray-800">
            <ul class="space-y-2">
              <li *ngFor="let surah of allSurah; let i = index;">
                <a (click)="navigateToProductDetails(surah.number)" title="{{ surah.englishName }}"
                  class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg bg-sky-500 hover:bg-sky-7000">
                  <svg class="w-6 h-6 text-gray-500 transition duration-75 "
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                    <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                  </svg>
                  <span class="ml-3"> {{ i+'-' +surah.englishName }}</span>
                </a>
              </li>				
            </ul>
          </div>
        </aside>          
      </div>
    </div>
    <div class="flex-1  rtl size-restrict">
      <!-- Right division content goes here -->
      <div class="p-4">
        <div>
          <main class="p-4">
            <app-quran [surahNum]="surahNumber" [option]="selectedOption"></app-quran>
           </main>
        </div>
      </div>
    </div>
  </div>
  
  

  </body>
    <footer class="bg-gray-200 p-4">
      <!-- Footer content -->
    </footer>

 